.adInfo form {
	width: auto;
	margin: 4.5vw 2vw;
	height: 60vh;
	display: grid;
	grid-row-gap: 2vw;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr 6fr 1fr;
	grid-template-areas:
		'title titleError . '
		'price priceError .'
		'cont cont cont'
		'contentError  . button';
}

.errormessage {
	color: red;
}

.adInfo form input,
textarea {
	padding: 0.5vw;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.adInfo form button {
	grid-area: button;
	margin: auto;
}

.adInfo .title {
	grid-area: title;
}

.adInfo .price {
	grid-area: price;
}

.adInfo .content {
	grid-area: cont;
}

#titleErr {
	grid-area: titleError;
}

#priceErr {
	grid-area: priceError;
}

#contentErr {
	grid-area: contentError;
}
