.subscriberInfo {
	text-align: left;
	margin-top: 2vw;
}

.names p,
.attributes p {
	border-bottom: 1px solid #ccc;
}

.names p {
	font-weight: 500;
}

.attributes p {
	font-weight: 200;
}

.subscriberInfo .names {
	width: 41%;
	display: inline-block;
	margin-left: 4vw;
}

.subscriberInfo .attributes {
	width: 41%;
	float: right;
	margin-right: 4vw;
	text-align: right;
}

.subscriberInfo button {
	float: right;
	margin-right: 10vw;
}

.subNumberContainer form {
	margin: 2vw 4vw;
	text-align: left;
	height: auto;
}

.subNumberContainer form label {
	font-weight: 500;
}
.subNumberContainer form input {
	float: right;
	margin-top: -0.5vw;
	padding: 0.5vw;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.subscriberInfo form {
	width: auto;
	height: auto;
	margin: 3vw 2vw;
	display: grid;
	grid-gap: 1vw;
	grid-template-areas:
		'fname address'
		'fnameerr addresserr'
		'lname zipcode'
		'lnameerr zipcodeerr'
		'phonenumber city'
		'phonenumbererr cityerr'
		'. button';
}

.subscriberInfo form .errormessage {
	color: red;
	padding: 0;
	margin: 0;
	font-size: 1.25vw;
}

.subscriberInfo form input {
	padding: 0.5vw;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.subscriberInfo form button {
	grid-area: button;
	width: 50%;
}

.firstname {
	grid-area: fname;
}

.lastname {
	grid-area: lname;
}

.phonenumber {
	grid-area: phonenumber;
}

.address {
	grid-area: address;
}

.zipcode {
	grid-area: zipcode;
}

.city {
	grid-area: city;
}

#firstnameerr {
	grid-area: fnameerr;
}

#lastnameerr {
	grid-area: lnameerr;
}

#phonenumbererr {
	grid-area: phonenumbererr;
}

#addresserr {
	grid-area: addresserr;
}

#cityerr {
	grid-area: cityerr;
}

#zipcodeerr {
	grid-area: zipcodeerr;
}
