.createAd {
	display: grid;
	grid-template-areas: 'sub ad';
	grid-template-columns: 1fr 1fr;
}
.subCompContainer {
	grid-area: sub;
	height: 85vh;
	border-right: 1px solid black;
}

.adContainer {
	grid-area: ad;
}
